.SliderButton {
   padding: 15px 40px;
   background-color: #4CAF50;
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 8px;
   transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
   position: relative;
   overflow: hidden;
}

.SliderButton::after {
   content: '\21AA';
   /* İkonun Unicode karakterini belirtin (sağa ok için) */
   margin-left: 10px;
   /* İkon ile metin arasındaki mesafeyi ayarlayın */
   transition: transform 0.3s ease;
   position: absolute;
   top: 50%;
   left: 100%;
   transform: translate(-50%, -50%);
}

.SliderButton:hover {
   background-color: #45a049;
   /* Hover durumunda arka plan rengini değiştirin */
   transform: scale(1.1);
   /* Hover durumunda butonu biraz büyütün */
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   /* Hover durumunda gölgelendirme efekti ekleyin */
}

.SliderButton:hover::after {
   transform: translateX(5px);
   /* Hover durumunda ikonu sağa kaydırın */
}

//Slider h1

.sliderH1Content {
   font-size: 4em;
   /* Başlık font boyutu */
   color: rgb(88, 54, 119);
   /* Başlık rengi */
   position: relative;
   display: inline-block;
}

.sliderH1Content::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 3px;
   /* Alt çizgi yüksekliği */
   bottom: 0;
   left: 0;
   background-color: #4CAF50;
   /* Alt çizgi rengi */
   visibility: hidden;
   transform: scaleX(0);
   transition: all 0.3s ease-in-out;
}

.sliderH1Content:hover::before {
   visibility: visible;
   transform: scaleX(1);
}

.sliderH1Content::after {
   content: "\00a0";
   /* Boşluk ekleyerek gölge için yer açın */
   position: absolute;
   width: 100%;
   height: 3px;
   /* Gölge yüksekliği */
   bottom: -6px;
   /* Gölgeyi alt çizginin altına yerleştirin */
   left: 0;
   background: linear-gradient(to right, transparent, #4CAF50);
   /* Gölge rengi ve gradienti */
   z-index: -1;
}


//Slider p

.sliderPContent {
   font-size: 1.2em;
   /* Paragraf font boyutu */
   color: #4CAF50;
   /* Paragraf rengi */
   position: relative;
   display: inline-block;
   margin-top: 10px;
   /* İhtiyaca göre boşluk ekleyin */
   border-bottom: 2px dashed white;
}

@media (max-width: 768px) {
   .Salam {
      img {
         height: 550px;
      }
   }

   .animated-image {
      width: 100%;
      height: 350px;
   }
}


//slider


.animated-image-container {
   position: relative;
   overflow: hidden;

   .overflow-effect {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #4040d838;
      width: 100%;
      transition: opacity 1s ease;
      pointer-events: none;

   }

}

.animated-image {
   position: relative;
   width: 100%;
}

.ove {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;

}

.content-container {
   position: absolute;
   right:0px;
   
}
.contentP{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 1.7rem;
   text-decoration: underline;
}



//responsive

@media only screen and (max-width: 768px) {
   .animated-image-container {
      margin-top: 80px;
      width: 100%;
      height: 450px;
   }

   
   .content-container {
      position: relative;

      .content-cont {
         text-align: center;
         position: absolute;
         bottom: -200px;
         right: 0;
         display: flex;
         justify-content: center;
         flex-direction: column;
      }
   }

   .welcome-modal {
      display: none !important;
   }

   .moduleContent {
      display: none;


   }
}

@media only screen and (max-width: 1220px){
.modulHomeImg{
   width: 100%;
   height: 100vh;
}
}
@media only screen and (max-width: 1000px){
   .modulHomeImg{
      width: 100%;
      height: 100vh;
   }
   }
   @media only screen and (max-width: 768px) {
      .animated-image-container {
         margin: auto auto;
        width: 100% !important;
      }
   }


   @media only screen and (max-width: 768px) {
     
      .content-cont{
        width: 200px !important;
        text-align: center !important;
        font-size: 10px;
      }
   }

   
   @media only screen and (max-width: 450px) {
.contenth2{
   font-size: 2rem !important;
   line-height: 40px !important;
}
.contentP{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 1.5rem;
   color: white !important;
   text-decoration: underline;
}
   }
   @media only screen and (max-width: 550px) {
      .contenth2{
         font-size: 2rem !important;
         line-height: 40px !important;
      }
      .contentP{
         text-transform: uppercase;
         font-weight: bold;
         font-size: 1.5rem;
         color: white !important;
         text-decoration: underline;
      }
         }
         @media only screen and (max-width: 850px) {
            .contenth2{
               font-size: 2rem !important;
               line-height: 40px !important;
            }
            .contentP{
               text-transform: uppercase;
               font-weight: bold;
               font-size: 1.5rem;
               color: white !important;
               text-decoration: underline;
            }
               }